@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300&family=Work+Sans:wght@200&display=swap');
@import 'components/menu';
@import 'components/banner';

$color-primario: #f2b279;
$fondo-verde: #b9bf04;
$color-naranja: #f25c05;
$color-cafe: #592202;
$color-rojo: #bf1506;
$fondo: #f1efefed;
$rojo-oscuro: #ac1406;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: $color-primario;
  font-family: 'Fira Sans', sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $fondo-verde;
  height: 50px;
  z-index: 100;

  .contenedor {
    display: flex;
    justify-content: space-between;
    img {
      width: 100px;
    }
  }
}

.contenedor {
  width: 98%;
  margin: auto;
  // border: 1px solid blueviolet;
}

main {
  margin-top: 50px;

  section {
    width: 100%;
    margin-bottom: 25px;
  
  }

}



#hogar {
 
  .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.219);
    backdrop-filter: blur(20px);
    border: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    height: 550px;
    h1 {
      font-size: 2rem;
      width: 250px;
      max-width: 250px;
      text-align: center;
      margin:  15px 0 15px 0;
    }

    img {
      border: none;
      border-radius: 5px;
      width: 90%;
    }

    p {
      width: 310px;
      max-width: 250px;
      font-size: 1.3rem;
      text-align: center;
    }
  }
}
