@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300&family=Work+Sans:wght@200&display=swap');
@import url(menu.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: #ecece4;
    font-family: 'Fira Sans', sans-serif;
}

header{
    width: 100%;
    background-color: #B9BF04;
    height: 120px;
    display: table;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 30px;
}

header img {
  
    width: 120px;
    
  
}



.container .imgHeder{
    width: 100%;
    border-radius: 0 0 15px 15px;  
    opacity: .9;  
}

main .container{
    padding: 0;
    position: relative;
}

#Encabezado{
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 1;
}

#Encabezado h1{
    color: white;
}

.glass{
    position: absolute;
    border-radius: 0 0 10px 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.424);
}
